<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Route5-Automated Syndication-Marketplace</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Route5-Automated Syndication-Marketplace</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1f94a1698ce7493b8616387ee4092c6b.png" alt="Route5-Automated Syndication-Marketplace" usemap="#id-1f94a1698ce7493b8616387ee4092c6bmap"/>
			   <map name="id-1f94a1698ce7493b8616387ee4092c6bmap">
				  				<area shape="rect" coords="934,334,1170,389" href="../elements/id-dbe9b016640044f095c5d156ae6250ce.html"  target="element">
				  				<area shape="rect" coords="925,418,1161,473" href="../elements/id-999f5b115d7842c682512e70a37a5f63.html"  target="element">
				  				<area shape="rect" coords="898,214,1187,304" href="../elements/id-672b13a6674f411cae8d882c4cb5e505.html"  target="element">

				  		<area shape="rect" coords="862,154,1247,671" href="../elements/id-3c5fc889f3c4462190936aa336b8ac38.html"  target="element">
				  		        <area shape="rect" coords="517,418,729,498" href="../objects/id-160df0eb40d04d62a44bf3f84eed890f.html" target="element" >
				  				<area shape="rect" coords="478,226,767,316" href="../elements/id-d78d81f3089b42dba46f69d5d1d06b2b.html"  target="element">
				  				<area shape="rect" coords="517,334,729,389" href="../elements/id-4328936b2a2b4917a852840d37f6afe8.html"  target="element">

				  		<area shape="rect" coords="430,166,815,683" href="../elements/id-6fde7bb23aaa47369be48847866ad8ab.html"  target="element">
				  						<area shape="rect" coords="83,598,295,653" href="../elements/id-8905471a4f0a4aee81931dce1d1ee261.html"  target="element">
				  						<area shape="rect" coords="83,526,295,581" href="../elements/id-201e5bbf9ccc4e6ca216b0366841c8c4.html"  target="element">
				  						<area shape="rect" coords="82,454,294,509" href="../elements/id-340d989de63c439aa7d7419151312edc.html"  target="element">
				  						<area shape="rect" coords="83,382,295,437" href="../elements/id-d090b441d14b470d974928cef0156fec.html"  target="element">

				  				<area shape="rect" coords="58,334,329,671" href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html"  target="element">
				  				<area shape="rect" coords="52,226,329,316" href="../elements/id-0826764f377f48ea9d8171e3dfe68b1f.html"  target="element">

				  		<area shape="rect" coords="22,166,407,683" href="../elements/id-b6f57f0a637f46e59d6009d6e667bbdc.html"  target="element">
				          <area shape="rect" coords="250,10,1223,138" href="../objects/id-d1100a5aa22b4970bc3913eb60f54d00.html" target="element" >
				          <area shape="rect" coords="10,10,195,138" href="../objects/id-b2212fec6ca24ea18995420301c82118.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-b2212fec6ca24ea18995420301c82118.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b2212fec6ca24ea18995420301c82118.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d1100a5aa22b4970bc3913eb60f54d00.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d1100a5aa22b4970bc3913eb60f54d00.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-b6f57f0a637f46e59d6009d6e667bbdc.html" target="element"> NSO Control Boundary (Input-Side) </a> </td>
											    <td> <a href="../elements/id-b6f57f0a637f46e59d6009d6e667bbdc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0826764f377f48ea9d8171e3dfe68b1f.html" target="element"> Authoritative Data &amp; Metadata  </a> </td>
													    <td> <a href="../elements/id-0826764f377f48ea9d8171e3dfe68b1f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html" target="element"> Self-describing Syndication Package </a> </td>
													    <td> <a href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d090b441d14b470d974928cef0156fec.html" target="element"> Persistent Identifiers, PIDs </a> </td>
															    <td> <a href="../elements/id-d090b441d14b470d974928cef0156fec.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-340d989de63c439aa7d7419151312edc.html" target="element"> Signed Provenance </a> </td>
															    <td> <a href="../elements/id-340d989de63c439aa7d7419151312edc.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-201e5bbf9ccc4e6ca216b0366841c8c4.html" target="element"> Embedded Citations </a> </td>
															    <td> <a href="../elements/id-201e5bbf9ccc4e6ca216b0366841c8c4.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8905471a4f0a4aee81931dce1d1ee261.html" target="element"> Versioning &amp; Status </a> </td>
															    <td> <a href="../elements/id-8905471a4f0a4aee81931dce1d1ee261.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-6fde7bb23aaa47369be48847866ad8ab.html" target="element"> Syndication Channels / Marketplaces </a> </td>
											    <td> <a href="../elements/id-6fde7bb23aaa47369be48847866ad8ab.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4328936b2a2b4917a852840d37f6afe8.html" target="element"> Syndication Agreements </a> </td>
													    <td> <a href="../elements/id-4328936b2a2b4917a852840d37f6afe8.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d78d81f3089b42dba46f69d5d1d06b2b.html" target="element"> Automated Syndication Pipelines </a> </td>
													    <td> <a href="../elements/id-d78d81f3089b42dba46f69d5d1d06b2b.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-160df0eb40d04d62a44bf3f84eed890f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-160df0eb40d04d62a44bf3f84eed890f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-3c5fc889f3c4462190936aa336b8ac38.html" target="element"> Downstream Consumers </a> </td>
											    <td> <a href="../elements/id-3c5fc889f3c4462190936aa336b8ac38.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-672b13a6674f411cae8d882c4cb5e505.html" target="element"> Downstream System </a> </td>
													    <td> <a href="../elements/id-672b13a6674f411cae8d882c4cb5e505.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-999f5b115d7842c682512e70a37a5f63.html" target="element"> Extract Embeded Metadata, Citation &amp; Provenance </a> </td>
													    <td> <a href="../elements/id-999f5b115d7842c682512e70a37a5f63.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dbe9b016640044f095c5d156ae6250ce.html" target="element"> Validate Source Authenticity </a> </td>
													    <td> <a href="../elements/id-dbe9b016640044f095c5d156ae6250ce.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-ed3d8e8583ef407e934ab738f81fb712.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed3d8e8583ef407e934ab738f81fb712.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b6f57f0a637f46e59d6009d6e667bbdc.html" target="element"> NSO Control Boundary (Input-Side) </a> </td>
																		<td> <a href="../elements/id-0826764f377f48ea9d8171e3dfe68b1f.html" target="element"> Authoritative Data &amp; Metadata  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f569f0749034c9fa025ee5b220f0ae8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f569f0749034c9fa025ee5b220f0ae8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b6f57f0a637f46e59d6009d6e667bbdc.html" target="element"> NSO Control Boundary (Input-Side) </a> </td>
																		<td> <a href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html" target="element"> Self-describing Syndication Package </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c9ac26cb07574348bb392b6a4991c54c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c9ac26cb07574348bb392b6a4991c54c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0826764f377f48ea9d8171e3dfe68b1f.html" target="element"> Authoritative Data &amp; Metadata  </a> </td>
																				<td> <a href="../elements/id-d78d81f3089b42dba46f69d5d1d06b2b.html" target="element"> Automated Syndication Pipelines </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-83b1b59a34104a138336e9e3d82fd1d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-83b1b59a34104a138336e9e3d82fd1d6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0826764f377f48ea9d8171e3dfe68b1f.html" target="element"> Authoritative Data &amp; Metadata  </a> </td>
																				<td> <a href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html" target="element"> Self-describing Syndication Package </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-48999646d75346ecb69ec4138c556ed5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-48999646d75346ecb69ec4138c556ed5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html" target="element"> Self-describing Syndication Package </a> </td>
																				<td> <a href="../elements/id-d090b441d14b470d974928cef0156fec.html" target="element"> Persistent Identifiers, PIDs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f6b54ab2d5584e928051c69323f67043.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f6b54ab2d5584e928051c69323f67043.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html" target="element"> Self-describing Syndication Package </a> </td>
																				<td> <a href="../elements/id-340d989de63c439aa7d7419151312edc.html" target="element"> Signed Provenance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-539feb5560954e909d5d17e1454363d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-539feb5560954e909d5d17e1454363d6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html" target="element"> Self-describing Syndication Package </a> </td>
																				<td> <a href="../elements/id-201e5bbf9ccc4e6ca216b0366841c8c4.html" target="element"> Embedded Citations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7d7379b069604f408cebee62dcf7a8aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7d7379b069604f408cebee62dcf7a8aa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b6adcdeb62ad43daba3105d8455a5b4f.html" target="element"> Self-describing Syndication Package </a> </td>
																				<td> <a href="../elements/id-8905471a4f0a4aee81931dce1d1ee261.html" target="element"> Versioning &amp; Status </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-767c96cd22534c2c8cf7a27cc45ecc05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-767c96cd22534c2c8cf7a27cc45ecc05.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6fde7bb23aaa47369be48847866ad8ab.html" target="element"> Syndication Channels / Marketplaces </a> </td>
																		<td> <a href="../elements/id-4328936b2a2b4917a852840d37f6afe8.html" target="element"> Syndication Agreements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d057079f739e400dbb6c08cf116e8992.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d057079f739e400dbb6c08cf116e8992.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6fde7bb23aaa47369be48847866ad8ab.html" target="element"> Syndication Channels / Marketplaces </a> </td>
																		<td> <a href="../elements/id-d78d81f3089b42dba46f69d5d1d06b2b.html" target="element"> Automated Syndication Pipelines </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a7d5b4640f6d4eb7b461d210758ab6f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a7d5b4640f6d4eb7b461d210758ab6f7.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d78d81f3089b42dba46f69d5d1d06b2b.html" target="element"> Automated Syndication Pipelines </a> </td>
																				<td> <a href="../elements/id-672b13a6674f411cae8d882c4cb5e505.html" target="element"> Downstream System </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c263a74d4ebe4e7a85451d90df6063f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c263a74d4ebe4e7a85451d90df6063f3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d78d81f3089b42dba46f69d5d1d06b2b.html" target="element"> Automated Syndication Pipelines </a> </td>
																				<td> <a href="../elements/id-4328936b2a2b4917a852840d37f6afe8.html" target="element"> Syndication Agreements </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-d77b652e074340ff9e2024153a4c7e9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d77b652e074340ff9e2024153a4c7e9a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c5fc889f3c4462190936aa336b8ac38.html" target="element"> Downstream Consumers </a> </td>
																		<td> <a href="../elements/id-672b13a6674f411cae8d882c4cb5e505.html" target="element"> Downstream System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3fcf5b1b5b9448681f59bac6c0a5c5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3fcf5b1b5b9448681f59bac6c0a5c5b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c5fc889f3c4462190936aa336b8ac38.html" target="element"> Downstream Consumers </a> </td>
																		<td> <a href="../elements/id-dbe9b016640044f095c5d156ae6250ce.html" target="element"> Validate Source Authenticity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78bae8beca6f4bd09bbc3d26a3042cd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78bae8beca6f4bd09bbc3d26a3042cd3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c5fc889f3c4462190936aa336b8ac38.html" target="element"> Downstream Consumers </a> </td>
																		<td> <a href="../elements/id-999f5b115d7842c682512e70a37a5f63.html" target="element"> Extract Embeded Metadata, Citation &amp; Provenance </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a1efc53ac3d04c65bf5ea5be6b46f4f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a1efc53ac3d04c65bf5ea5be6b46f4f6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-672b13a6674f411cae8d882c4cb5e505.html" target="element"> Downstream System </a> </td>
																				<td> <a href="../elements/id-dbe9b016640044f095c5d156ae6250ce.html" target="element"> Validate Source Authenticity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ee285644690349c58a49015776c19a6a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee285644690349c58a49015776c19a6a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-672b13a6674f411cae8d882c4cb5e505.html" target="element"> Downstream System </a> </td>
																				<td> <a href="../elements/id-999f5b115d7842c682512e70a37a5f63.html" target="element"> Extract Embeded Metadata, Citation &amp; Provenance </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>