<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Route3-Public AI Search & Training </title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Route3-Public AI Search &amp; Training </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7474149a6d4b46c19bf3da72763a9a4c.png" alt="Route3-Public AI Search & Training " usemap="#id-7474149a6d4b46c19bf3da72763a9a4cmap"/>
			   <map name="id-7474149a6d4b46c19bf3da72763a9a4cmap">
				  				<area shape="rect" coords="1769,698,1938,795" href="../elements/id-b0caf87a431444008d9c8ba93bf93b63.html"  target="element">
				  				<area shape="rect" coords="1553,698,1722,795" href="../elements/id-ac39e8a7c6084e15b60d6ad805d16f36.html"  target="element">
				  				<area shape="rect" coords="1325,698,1494,795" href="../elements/id-b0f4906e941b4599881fac677076d770.html"  target="element">
				  				<area shape="rect" coords="1097,698,1266,795" href="../elements/id-8dfaeea469cf4d55999a09f364ad523b.html"  target="element">
				  				<area shape="rect" coords="881,698,1050,795" href="../elements/id-e085895e66d144678b46ca49a3075eb3.html"  target="element">
				  				<area shape="rect" coords="641,698,810,795" href="../elements/id-50355005f3e141e682be01b60a96c358.html"  target="element">

				  		<area shape="rect" coords="593,636,1986,842" href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html"  target="element">
				  				<area shape="rect" coords="1589,365,1754,445" href="../elements/id-7c990a939063423c8162ee62a8460013.html"  target="element">
				  				<area shape="rect" coords="1805,312,1970,392" href="../elements/id-1a1eb64e826c4360b0c5050c31201db4.html"  target="element">
				  				<area shape="rect" coords="1721,504,1886,584" href="../elements/id-e330a64575a94e5886bcd1b5d131cb62.html"  target="element">
				  				<area shape="rect" coords="1589,264,1754,344" href="../elements/id-f95d92f3a55e4f8499542538d69a3c2c.html"  target="element">
				  				<area shape="rect" coords="1349,288,1530,415" href="../elements/id-e90ac9d34d774f4bb585a95c36d5795e.html"  target="element">

				  		<area shape="rect" coords="1325,168,1986,625" href="../elements/id-3b9c8f19bfbe4f429b177f0fd0be0e21.html"  target="element">
				  				<area shape="rect" coords="761,239,900,329" href="../elements/id-cf9e3f4c5ecf488dabf15e6bde45bde1.html"  target="element">
				  				<area shape="rect" coords="593,239,732,329" href="../elements/id-2160656b24524c548e92d39462e7ab21.html"  target="element">
				  				<area shape="rect" coords="1085,288,1266,415" href="../elements/id-9ced4ec378b041d89e7049464f66305d.html"  target="element">
				  				<area shape="rect" coords="917,360,1056,450" href="../elements/id-0e22f72c3cfc463d8c6d22053f989394.html"  target="element">
				  				<area shape="rect" coords="917,239,1056,329" href="../elements/id-887e9490c96f47b88195fbfff243ddcf.html"  target="element">
				  				<area shape="rect" coords="761,360,900,450" href="../elements/id-9688177ac5054f4690487b3fb0d4a43a.html"  target="element">
				  				<area shape="rect" coords="593,360,732,450" href="../elements/id-0541e2795b274190a1a49e84f0ff76e0.html"  target="element">

				  		<area shape="rect" coords="569,168,1290,625" href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html"  target="element">
				  				<area shape="rect" coords="358,384,527,469" href="../elements/id-ac7716797ad444c6b5b3e85c6cbd0a9e.html"  target="element">
				  				<area shape="rect" coords="166,384,335,469" href="../elements/id-f5075f5485a34ce288065ed3d4389165.html"  target="element">
				  				<area shape="rect" coords="250,231,431,321" href="../elements/id-1ede33df6b634f6ba28da300f1e8e536.html"  target="element">
				  				<area shape="rect" coords="41,233,210,318" href="../elements/id-d495ad6a04864154a2bb45503a237013.html"  target="element">

				  		<area shape="rect" coords="10,168,546,625" href="../elements/id-bee7fcd572c94727b77ae375af6651c0.html"  target="element">
				          <area shape="rect" coords="269,10,1031,123" href="../objects/id-f68edfdce5704e2cab2d58dfd9f2b322.html" target="element" >
				          <area shape="rect" coords="10,10,195,123" href="../objects/id-b9221b677a9c4f20a71d7f43a3299e77.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-b9221b677a9c4f20a71d7f43a3299e77.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b9221b677a9c4f20a71d7f43a3299e77.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f68edfdce5704e2cab2d58dfd9f2b322.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f68edfdce5704e2cab2d58dfd9f2b322.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-bee7fcd572c94727b77ae375af6651c0.html" target="element"> NSO Dissemination Foundation (Input-side) </a> </td>
											    <td> <a href="../elements/id-bee7fcd572c94727b77ae375af6651c0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d495ad6a04864154a2bb45503a237013.html" target="element"> Authoritative Data &amp; Metadata </a> </td>
													    <td> <a href="../elements/id-d495ad6a04864154a2bb45503a237013.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ede33df6b634f6ba28da300f1e8e536.html" target="element"> Web Server - Static / Server-side Rendered HTML pages </a> </td>
													    <td> <a href="../elements/id-1ede33df6b634f6ba28da300f1e8e536.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f5075f5485a34ce288065ed3d4389165.html" target="element"> GEO &amp; SEO, Clean URLs, Clean HTML, sitemaps </a> </td>
													    <td> <a href="../elements/id-f5075f5485a34ce288065ed3d4389165.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac7716797ad444c6b5b3e85c6cbd0a9e.html" target="element"> Embedded Semantic Metadata </a> </td>
													    <td> <a href="../elements/id-ac7716797ad444c6b5b3e85c6cbd0a9e.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element"> Public AI Systems (third party) </a> </td>
											    <td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0541e2795b274190a1a49e84f0ff76e0.html" target="element"> Public AI Crawler / Semantic Search </a> </td>
													    <td> <a href="../elements/id-0541e2795b274190a1a49e84f0ff76e0.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9688177ac5054f4690487b3fb0d4a43a.html" target="element"> Vector store/ RAG Cocrpus / Retrieval System </a> </td>
													    <td> <a href="../elements/id-9688177ac5054f4690487b3fb0d4a43a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-887e9490c96f47b88195fbfff243ddcf.html" target="element"> Traditional Words Index </a> </td>
													    <td> <a href="../elements/id-887e9490c96f47b88195fbfff243ddcf.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e22f72c3cfc463d8c6d22053f989394.html" target="element"> Vector Similarity Index (Semantic Embeddings </a> </td>
													    <td> <a href="../elements/id-0e22f72c3cfc463d8c6d22053f989394.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9ced4ec378b041d89e7049464f66305d.html" target="element"> Conversational AI Platform </a> </td>
													    <td> <a href="../elements/id-9ced4ec378b041d89e7049464f66305d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2160656b24524c548e92d39462e7ab21.html" target="element"> Web Crawler/ Indexer </a> </td>
													    <td> <a href="../elements/id-2160656b24524c548e92d39462e7ab21.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf9e3f4c5ecf488dabf15e6bde45bde1.html" target="element"> Indexed data store </a> </td>
													    <td> <a href="../elements/id-cf9e3f4c5ecf488dabf15e6bde45bde1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3b9c8f19bfbe4f429b177f0fd0be0e21.html" target="element"> End User Exprerience </a> </td>
											    <td> <a href="../elements/id-3b9c8f19bfbe4f429b177f0fd0be0e21.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e90ac9d34d774f4bb585a95c36d5795e.html" target="element"> Client Application / Chatbot </a> </td>
													    <td> <a href="../elements/id-e90ac9d34d774f4bb585a95c36d5795e.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f95d92f3a55e4f8499542538d69a3c2c.html" target="element"> Natural Language Quering </a> </td>
													    <td> <a href="../elements/id-f95d92f3a55e4f8499542538d69a3c2c.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e330a64575a94e5886bcd1b5d131cb62.html" target="element"> Answer / Preserved Context / Citations </a> </td>
													    <td> <a href="../elements/id-e330a64575a94e5886bcd1b5d131cb62.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a1eb64e826c4360b0c5050c31201db4.html" target="element"> End User </a> </td>
													    <td> <a href="../elements/id-1a1eb64e826c4360b0c5050c31201db4.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7c990a939063423c8162ee62a8460013.html" target="element"> Output Synthesizing </a> </td>
													    <td> <a href="../elements/id-7c990a939063423c8162ee62a8460013.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html" target="element"> Monitor / Output-side </a> </td>
											    <td> <a href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-50355005f3e141e682be01b60a96c358.html" target="element"> Architectural Guardrails </a> </td>
													    <td> <a href="../elements/id-50355005f3e141e682be01b60a96c358.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e085895e66d144678b46ca49a3075eb3.html" target="element"> System Instructions </a> </td>
													    <td> <a href="../elements/id-e085895e66d144678b46ca49a3075eb3.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8dfaeea469cf4d55999a09f364ad523b.html" target="element"> Benchmarks </a> </td>
													    <td> <a href="../elements/id-8dfaeea469cf4d55999a09f364ad523b.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0f4906e941b4599881fac677076d770.html" target="element"> Runbooks </a> </td>
													    <td> <a href="../elements/id-b0f4906e941b4599881fac677076d770.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac39e8a7c6084e15b60d6ad805d16f36.html" target="element"> Digital Signature / Hashing  </a> </td>
													    <td> <a href="../elements/id-ac39e8a7c6084e15b60d6ad805d16f36.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0caf87a431444008d9c8ba93bf93b63.html" target="element"> Human in the Loop </a> </td>
													    <td> <a href="../elements/id-b0caf87a431444008d9c8ba93bf93b63.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b0b840b15ec849bfa127005a6d0c088e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0b840b15ec849bfa127005a6d0c088e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bee7fcd572c94727b77ae375af6651c0.html" target="element"> NSO Dissemination Foundation (Input-side) </a> </td>
																		<td> <a href="../elements/id-d495ad6a04864154a2bb45503a237013.html" target="element"> Authoritative Data &amp; Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c6a69b86caa41969df9f522f28d9d81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c6a69b86caa41969df9f522f28d9d81.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bee7fcd572c94727b77ae375af6651c0.html" target="element"> NSO Dissemination Foundation (Input-side) </a> </td>
																		<td> <a href="../elements/id-1ede33df6b634f6ba28da300f1e8e536.html" target="element"> Web Server - Static / Server-side Rendered HTML pages </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7344ab19bebd488da8e33de680519f90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7344ab19bebd488da8e33de680519f90.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bee7fcd572c94727b77ae375af6651c0.html" target="element"> NSO Dissemination Foundation (Input-side) </a> </td>
																		<td> <a href="../elements/id-f5075f5485a34ce288065ed3d4389165.html" target="element"> GEO &amp; SEO, Clean URLs, Clean HTML, sitemaps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3b09d8044a94fef9e820bb2a671044c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3b09d8044a94fef9e820bb2a671044c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bee7fcd572c94727b77ae375af6651c0.html" target="element"> NSO Dissemination Foundation (Input-side) </a> </td>
																		<td> <a href="../elements/id-ac7716797ad444c6b5b3e85c6cbd0a9e.html" target="element"> Embedded Semantic Metadata </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-96a4b0ac844d494cbde62108cfe35e01.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96a4b0ac844d494cbde62108cfe35e01.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d495ad6a04864154a2bb45503a237013.html" target="element"> Authoritative Data &amp; Metadata </a> </td>
																				<td> <a href="../elements/id-1ede33df6b634f6ba28da300f1e8e536.html" target="element"> Web Server - Static / Server-side Rendered HTML pages </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c7d3b95cbba94ac0b464abd55932464b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c7d3b95cbba94ac0b464abd55932464b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1ede33df6b634f6ba28da300f1e8e536.html" target="element"> Web Server - Static / Server-side Rendered HTML pages </a> </td>
																				<td> <a href="../elements/id-f5075f5485a34ce288065ed3d4389165.html" target="element"> GEO &amp; SEO, Clean URLs, Clean HTML, sitemaps </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5d0ecdaddeb44e85ba0927bd34324331.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d0ecdaddeb44e85ba0927bd34324331.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1ede33df6b634f6ba28da300f1e8e536.html" target="element"> Web Server - Static / Server-side Rendered HTML pages </a> </td>
																				<td> <a href="../elements/id-ac7716797ad444c6b5b3e85c6cbd0a9e.html" target="element"> Embedded Semantic Metadata </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1691767e50384fa0ab69c7693340ffcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1691767e50384fa0ab69c7693340ffcd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element"> Public AI Systems (third party) </a> </td>
																		<td> <a href="../elements/id-0541e2795b274190a1a49e84f0ff76e0.html" target="element"> Public AI Crawler / Semantic Search </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7a1a17cbcc6470cab164f21a08afb80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7a1a17cbcc6470cab164f21a08afb80.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element"> Public AI Systems (third party) </a> </td>
																		<td> <a href="../elements/id-9688177ac5054f4690487b3fb0d4a43a.html" target="element"> Vector store/ RAG Cocrpus / Retrieval System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a35de2272ed742339d1c06fc093364fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a35de2272ed742339d1c06fc093364fb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element"> Public AI Systems (third party) </a> </td>
																		<td> <a href="../elements/id-0e22f72c3cfc463d8c6d22053f989394.html" target="element"> Vector Similarity Index (Semantic Embeddings </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-057885d5d3f24690ba2589a2187e6f23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-057885d5d3f24690ba2589a2187e6f23.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element"> Public AI Systems (third party) </a> </td>
																		<td> <a href="../elements/id-887e9490c96f47b88195fbfff243ddcf.html" target="element"> Traditional Words Index </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0af653899be4ddc8df19e25bd0c023b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0af653899be4ddc8df19e25bd0c023b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element"> Public AI Systems (third party) </a> </td>
																		<td> <a href="../elements/id-9ced4ec378b041d89e7049464f66305d.html" target="element"> Conversational AI Platform </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d961560dbae455894b985524af03a12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d961560dbae455894b985524af03a12.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element"> Public AI Systems (third party) </a> </td>
																		<td> <a href="../elements/id-2160656b24524c548e92d39462e7ab21.html" target="element"> Web Crawler/ Indexer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5435cbc7398a4ad7958dc9d77610036b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5435cbc7398a4ad7958dc9d77610036b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9c0075baf14262bb7b1085d3f6b057.html" target="element"> Public AI Systems (third party) </a> </td>
																		<td> <a href="../elements/id-cf9e3f4c5ecf488dabf15e6bde45bde1.html" target="element"> Indexed data store </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7ccf4d01b7aa44e5b6acaece5c2a9197.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7ccf4d01b7aa44e5b6acaece5c2a9197.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0541e2795b274190a1a49e84f0ff76e0.html" target="element"> Public AI Crawler / Semantic Search </a> </td>
																				<td> <a href="../elements/id-9688177ac5054f4690487b3fb0d4a43a.html" target="element"> Vector store/ RAG Cocrpus / Retrieval System </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-301bd8efb7fe4a36bb729d181db96a89.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-301bd8efb7fe4a36bb729d181db96a89.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9688177ac5054f4690487b3fb0d4a43a.html" target="element"> Vector store/ RAG Cocrpus / Retrieval System </a> </td>
																				<td> <a href="../elements/id-0e22f72c3cfc463d8c6d22053f989394.html" target="element"> Vector Similarity Index (Semantic Embeddings </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-11601623b5304bad8bb894ab376f2b6e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11601623b5304bad8bb894ab376f2b6e.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ced4ec378b041d89e7049464f66305d.html" target="element"> Conversational AI Platform </a> </td>
																				<td> <a href="../elements/id-e90ac9d34d774f4bb585a95c36d5795e.html" target="element"> Client Application / Chatbot </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2f25c29192644fcf823298f27fe584b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2f25c29192644fcf823298f27fe584b5.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2160656b24524c548e92d39462e7ab21.html" target="element"> Web Crawler/ Indexer </a> </td>
																				<td> <a href="../elements/id-cf9e3f4c5ecf488dabf15e6bde45bde1.html" target="element"> Indexed data store </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-707c6f778dd34476928bc6e4545049dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-707c6f778dd34476928bc6e4545049dd.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cf9e3f4c5ecf488dabf15e6bde45bde1.html" target="element"> Indexed data store </a> </td>
																				<td> <a href="../elements/id-887e9490c96f47b88195fbfff243ddcf.html" target="element"> Traditional Words Index </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-173c67e7928f4949a65dba9213b3d536.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-173c67e7928f4949a65dba9213b3d536.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b9c8f19bfbe4f429b177f0fd0be0e21.html" target="element"> End User Exprerience </a> </td>
																		<td> <a href="../elements/id-e90ac9d34d774f4bb585a95c36d5795e.html" target="element"> Client Application / Chatbot </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4b13cd3190c4fccad4221938b9cdc62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4b13cd3190c4fccad4221938b9cdc62.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b9c8f19bfbe4f429b177f0fd0be0e21.html" target="element"> End User Exprerience </a> </td>
																		<td> <a href="../elements/id-f95d92f3a55e4f8499542538d69a3c2c.html" target="element"> Natural Language Quering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d736aac5a4d4eb0adfae663d9c21bc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d736aac5a4d4eb0adfae663d9c21bc2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b9c8f19bfbe4f429b177f0fd0be0e21.html" target="element"> End User Exprerience </a> </td>
																		<td> <a href="../elements/id-e330a64575a94e5886bcd1b5d131cb62.html" target="element"> Answer / Preserved Context / Citations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73770c5fa7874f98a0c9112888960f07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73770c5fa7874f98a0c9112888960f07.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b9c8f19bfbe4f429b177f0fd0be0e21.html" target="element"> End User Exprerience </a> </td>
																		<td> <a href="../elements/id-1a1eb64e826c4360b0c5050c31201db4.html" target="element"> End User </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d747920fa83d474abb45763e35db4edb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d747920fa83d474abb45763e35db4edb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b9c8f19bfbe4f429b177f0fd0be0e21.html" target="element"> End User Exprerience </a> </td>
																		<td> <a href="../elements/id-7c990a939063423c8162ee62a8460013.html" target="element"> Output Synthesizing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c6e5db9747d94a61a48291434cbb9706.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c6e5db9747d94a61a48291434cbb9706.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e90ac9d34d774f4bb585a95c36d5795e.html" target="element"> Client Application / Chatbot </a> </td>
																				<td> <a href="../elements/id-f95d92f3a55e4f8499542538d69a3c2c.html" target="element"> Natural Language Quering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-993cc22c7a114fecb71041937ead4cf7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-993cc22c7a114fecb71041937ead4cf7.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e90ac9d34d774f4bb585a95c36d5795e.html" target="element"> Client Application / Chatbot </a> </td>
																				<td> <a href="../elements/id-9ced4ec378b041d89e7049464f66305d.html" target="element"> Conversational AI Platform </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b2e0fd5684a64618b05525d86c131f69.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b2e0fd5684a64618b05525d86c131f69.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e90ac9d34d774f4bb585a95c36d5795e.html" target="element"> Client Application / Chatbot </a> </td>
																				<td> <a href="../elements/id-7c990a939063423c8162ee62a8460013.html" target="element"> Output Synthesizing </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ab8c4f7ec4424b4d8b3a2fc1fd08d433.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ab8c4f7ec4424b4d8b3a2fc1fd08d433.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1a1eb64e826c4360b0c5050c31201db4.html" target="element"> End User </a> </td>
																				<td> <a href="../elements/id-f95d92f3a55e4f8499542538d69a3c2c.html" target="element"> Natural Language Quering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f5b521473ad14ad58edd639857e4d778.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5b521473ad14ad58edd639857e4d778.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1a1eb64e826c4360b0c5050c31201db4.html" target="element"> End User </a> </td>
																				<td> <a href="../elements/id-e330a64575a94e5886bcd1b5d131cb62.html" target="element"> Answer / Preserved Context / Citations </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7d24f37b107c44049d967d62d5d394c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7d24f37b107c44049d967d62d5d394c5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7c990a939063423c8162ee62a8460013.html" target="element"> Output Synthesizing </a> </td>
																				<td> <a href="../elements/id-e330a64575a94e5886bcd1b5d131cb62.html" target="element"> Answer / Preserved Context / Citations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d2d1054232da46bcbe63fff7a22968b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2d1054232da46bcbe63fff7a22968b2.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7c990a939063423c8162ee62a8460013.html" target="element"> Output Synthesizing </a> </td>
																				<td> <a href="../elements/id-1a1eb64e826c4360b0c5050c31201db4.html" target="element"> End User </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f38781d6783045c7b038e843d2866aff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f38781d6783045c7b038e843d2866aff.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html" target="element"> Monitor / Output-side </a> </td>
																		<td> <a href="../elements/id-50355005f3e141e682be01b60a96c358.html" target="element"> Architectural Guardrails </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4036eb537bac4176bb4c61f40902d3ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4036eb537bac4176bb4c61f40902d3ca.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html" target="element"> Monitor / Output-side </a> </td>
																		<td> <a href="../elements/id-e085895e66d144678b46ca49a3075eb3.html" target="element"> System Instructions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-571a867eb8b54f4ca6beefddd78bacb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-571a867eb8b54f4ca6beefddd78bacb1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html" target="element"> Monitor / Output-side </a> </td>
																		<td> <a href="../elements/id-8dfaeea469cf4d55999a09f364ad523b.html" target="element"> Benchmarks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9da612fd82074c508bdf09a45abfb2ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9da612fd82074c508bdf09a45abfb2ae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html" target="element"> Monitor / Output-side </a> </td>
																		<td> <a href="../elements/id-b0f4906e941b4599881fac677076d770.html" target="element"> Runbooks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ce070b62eb44979ad14248bb223297b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ce070b62eb44979ad14248bb223297b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html" target="element"> Monitor / Output-side </a> </td>
																		<td> <a href="../elements/id-ac39e8a7c6084e15b60d6ad805d16f36.html" target="element"> Digital Signature / Hashing  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd0ec156755b48c39280665537257004.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd0ec156755b48c39280665537257004.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6627ccd02c9e4662b22772f53378f8db.html" target="element"> Monitor / Output-side </a> </td>
																		<td> <a href="../elements/id-b0caf87a431444008d9c8ba93bf93b63.html" target="element"> Human in the Loop </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>