<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Target - Overview (copy)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Target - Overview (copy)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dd16879858f245a38288fcb6fe303086.png" alt="Target - Overview (copy)" usemap="#id-dd16879858f245a38288fcb6fe303086map"/>
			   <map name="id-dd16879858f245a38288fcb6fe303086map">
				  				<area shape="rect" coords="610,466,774,553" href="../elements/id-67c60718c6e94906b636279ed43054ca.html"  target="element">
				  				<area shape="rect" coords="610,718,774,805" href="../elements/id-6d1a46dfe8314b2a8579bca389538084.html"  target="element">
				  		        <area shape="rect" coords="999,466,1163,553" href="../objects/id-182e3130a3074469ac54716ff1f75728.html" target="element" >
				  		        <area shape="rect" coords="804,634,1163,875" href="../objects/id-6f882bfd4efc4f6fbb10841fb9c67b25.html" target="element" >
				  				<area shape="rect" coords="610,598,774,685" href="../elements/id-41204ee38177454baaf28d39efe29446.html"  target="element">
				  				<area shape="rect" coords="262,490,426,577" href="../elements/id-433cffa018fc47e79dfe8a6130fe08be.html"  target="element">
				  		        <area shape="rect" coords="826,466,990,553" href="../objects/id-1b9bfe010e7f4211900c49b612971bfe.html" target="element" >
				  		        <area shape="rect" coords="262,586,426,673" href="../objects/id-78dd4b5ca0b948c8b5443b369db7e5e2.html" target="element" >
				  				<area shape="rect" coords="999,370,1163,457" href="../elements/id-1077c2103ecf4f66829e1017fafbc069.html"  target="element">
				  				<area shape="rect" coords="826,370,990,457" href="../elements/id-5b54e8a12cf84a2c94247d99d8a5887f.html"  target="element">
				  				<area shape="rect" coords="586,226,750,313" href="../elements/id-2dfa5f29f71f48c6b361ec452b4b8980.html"  target="element">
				  				<area shape="rect" coords="910,214,1074,301" href="../elements/id-c8745688ee184cc8b1badff85cf5ee40.html"  target="element">
				  				<area shape="rect" coords="46,370,210,457" href="../elements/id-8fa544ca4c434c0f88a9840830888b01.html"  target="element">
				  				<area shape="rect" coords="46,226,210,313" href="../elements/id-e8fadd5661db4b6388e9abf90b69edcc.html"  target="element">
				  				<area shape="rect" coords="274,226,438,313" href="../elements/id-5572b87eb5cc40c9a47481402ebe64c0.html"  target="element">
				  				<area shape="rect" coords="437,370,601,457" href="../elements/id-fbc51bf8c3d24b7c9b10cb03857b22dc.html"  target="element">

				  		<area shape="rect" coords="10,178,1175,887" href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html"  target="element">
				          <area shape="rect" coords="406,10,1115,143" href="../objects/id-2ade9f88a8f549ff8aac31d8bfb6f2ea.html" target="element" >
				          <area shape="rect" coords="22,10,251,119" href="../objects/id-23b0ebe790b846b583c06c7559328b86.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-23b0ebe790b846b583c06c7559328b86.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-23b0ebe790b846b583c06c7559328b86.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2ade9f88a8f549ff8aac31d8bfb6f2ea.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2ade9f88a8f549ff8aac31d8bfb6f2ea.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
											    <td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fbc51bf8c3d24b7c9b10cb03857b22dc.html" target="element"> Statistical Data </a> </td>
													    <td> <a href="../elements/id-fbc51bf8c3d24b7c9b10cb03857b22dc.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5572b87eb5cc40c9a47481402ebe64c0.html" target="element"> Data Dissemination </a> </td>
													    <td> <a href="../elements/id-5572b87eb5cc40c9a47481402ebe64c0.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e8fadd5661db4b6388e9abf90b69edcc.html" target="element"> Publisher </a> </td>
													    <td> <a href="../elements/id-e8fadd5661db4b6388e9abf90b69edcc.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8fa544ca4c434c0f88a9840830888b01.html" target="element"> Statistical Organization </a> </td>
													    <td> <a href="../elements/id-8fa544ca4c434c0f88a9840830888b01.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c8745688ee184cc8b1badff85cf5ee40.html" target="element"> Consumer </a> </td>
													    <td> <a href="../elements/id-c8745688ee184cc8b1badff85cf5ee40.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2dfa5f29f71f48c6b361ec452b4b8980.html" target="element"> Data Search </a> </td>
													    <td> <a href="../elements/id-2dfa5f29f71f48c6b361ec452b4b8980.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5b54e8a12cf84a2c94247d99d8a5887f.html" target="element"> Human User </a> </td>
													    <td> <a href="../elements/id-5b54e8a12cf84a2c94247d99d8a5887f.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1077c2103ecf4f66829e1017fafbc069.html" target="element"> AI User </a> </td>
													    <td> <a href="../elements/id-1077c2103ecf4f66829e1017fafbc069.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-78dd4b5ca0b948c8b5443b369db7e5e2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-78dd4b5ca0b948c8b5443b369db7e5e2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1b9bfe010e7f4211900c49b612971bfe.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1b9bfe010e7f4211900c49b612971bfe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-433cffa018fc47e79dfe8a6130fe08be.html" target="element"> Metadata (Structural and Referential) </a> </td>
													    <td> <a href="../elements/id-433cffa018fc47e79dfe8a6130fe08be.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-41204ee38177454baaf28d39efe29446.html" target="element"> Semantic Mapping </a> </td>
													    <td> <a href="../elements/id-41204ee38177454baaf28d39efe29446.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-6f882bfd4efc4f6fbb10841fb9c67b25.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6f882bfd4efc4f6fbb10841fb9c67b25.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-182e3130a3074469ac54716ff1f75728.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-182e3130a3074469ac54716ff1f75728.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-6d1a46dfe8314b2a8579bca389538084.html" target="element"> Semantic Model </a> </td>
													    <td> <a href="../elements/id-6d1a46dfe8314b2a8579bca389538084.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-67c60718c6e94906b636279ed43054ca.html" target="element"> AI Generated Query </a> </td>
													    <td> <a href="../elements/id-67c60718c6e94906b636279ed43054ca.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-468d7e8b7b3344f083f0cb1e2a7ea45f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-468d7e8b7b3344f083f0cb1e2a7ea45f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-67c60718c6e94906b636279ed43054ca.html" target="element"> AI Generated Query </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e930838a72e640f08cc503d39caf8a06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e930838a72e640f08cc503d39caf8a06.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-6d1a46dfe8314b2a8579bca389538084.html" target="element"> Semantic Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bbd8e2c4ef1442393ed22e4caec02dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bbd8e2c4ef1442393ed22e4caec02dc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-41204ee38177454baaf28d39efe29446.html" target="element"> Semantic Mapping </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef0a4882c9b6452da35c0f892d2a8351.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef0a4882c9b6452da35c0f892d2a8351.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-433cffa018fc47e79dfe8a6130fe08be.html" target="element"> Metadata (Structural and Referential) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe55ccf37a264d34b8f860ae5cd6acef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe55ccf37a264d34b8f860ae5cd6acef.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-1077c2103ecf4f66829e1017fafbc069.html" target="element"> AI User </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-178d2bae445a495ca4c48c66b9f522e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-178d2bae445a495ca4c48c66b9f522e3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-5b54e8a12cf84a2c94247d99d8a5887f.html" target="element"> Human User </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59f4e66aa06b425898b66ce121a15912.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59f4e66aa06b425898b66ce121a15912.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-2dfa5f29f71f48c6b361ec452b4b8980.html" target="element"> Data Search </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7de5fe895574702894235c3b37e9169.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7de5fe895574702894235c3b37e9169.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-c8745688ee184cc8b1badff85cf5ee40.html" target="element"> Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1954193b627443191bf77a43fe218c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1954193b627443191bf77a43fe218c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-8fa544ca4c434c0f88a9840830888b01.html" target="element"> Statistical Organization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-678d75c86309418e8db681457ef1b9dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-678d75c86309418e8db681457ef1b9dd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-e8fadd5661db4b6388e9abf90b69edcc.html" target="element"> Publisher </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7574e056102454cbf4d00d91be6be95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7574e056102454cbf4d00d91be6be95.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-5572b87eb5cc40c9a47481402ebe64c0.html" target="element"> Data Dissemination </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80845bc14a234bd5a6523d22474bc383.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80845bc14a234bd5a6523d22474bc383.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0ea4e15d2d540dca7e066ca0592e04d.html" target="element"> Statistical Data Dissemination and Search  </a> </td>
																		<td> <a href="../elements/id-fbc51bf8c3d24b7c9b10cb03857b22dc.html" target="element"> Statistical Data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b17b98ba14804d97afff3e3075fce6f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b17b98ba14804d97afff3e3075fce6f4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fbc51bf8c3d24b7c9b10cb03857b22dc.html" target="element"> Statistical Data </a> </td>
																				<td> <a href="../elements/id-433cffa018fc47e79dfe8a6130fe08be.html" target="element"> Metadata (Structural and Referential) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5fd5b8b2e62b4d85abe0cf2f9aa47a62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5fd5b8b2e62b4d85abe0cf2f9aa47a62.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5572b87eb5cc40c9a47481402ebe64c0.html" target="element"> Data Dissemination </a> </td>
																				<td> <a href="../elements/id-fbc51bf8c3d24b7c9b10cb03857b22dc.html" target="element"> Statistical Data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5ff17241dda6434ca96ef1f8ab2c0467.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5ff17241dda6434ca96ef1f8ab2c0467.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8fadd5661db4b6388e9abf90b69edcc.html" target="element"> Publisher </a> </td>
																				<td> <a href="../elements/id-5572b87eb5cc40c9a47481402ebe64c0.html" target="element"> Data Dissemination </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7014d3e5575b435899b85974316726d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7014d3e5575b435899b85974316726d9.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8fa544ca4c434c0f88a9840830888b01.html" target="element"> Statistical Organization </a> </td>
																				<td> <a href="../elements/id-e8fadd5661db4b6388e9abf90b69edcc.html" target="element"> Publisher </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-91c558cfcf86495293904c9768d1c92f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-91c558cfcf86495293904c9768d1c92f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c8745688ee184cc8b1badff85cf5ee40.html" target="element"> Consumer </a> </td>
																				<td> <a href="../elements/id-67c60718c6e94906b636279ed43054ca.html" target="element"> AI Generated Query </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a3d5c86846ed4ee4a199529296d82ea3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a3d5c86846ed4ee4a199529296d82ea3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2dfa5f29f71f48c6b361ec452b4b8980.html" target="element"> Data Search </a> </td>
																				<td> <a href="../elements/id-fbc51bf8c3d24b7c9b10cb03857b22dc.html" target="element"> Statistical Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fa8d94e1cc724f45bba0dbc2253ff3aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fa8d94e1cc724f45bba0dbc2253ff3aa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2dfa5f29f71f48c6b361ec452b4b8980.html" target="element"> Data Search </a> </td>
																				<td> <a href="../elements/id-67c60718c6e94906b636279ed43054ca.html" target="element"> AI Generated Query </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6b11d9450bc5417ebcd70ec1ae7549f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b11d9450bc5417ebcd70ec1ae7549f9.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5b54e8a12cf84a2c94247d99d8a5887f.html" target="element"> Human User </a> </td>
																				<td> <a href="../elements/id-c8745688ee184cc8b1badff85cf5ee40.html" target="element"> Consumer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2ca2f6411f5841e0941e421f4bf32f86.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ca2f6411f5841e0941e421f4bf32f86.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1077c2103ecf4f66829e1017fafbc069.html" target="element"> AI User </a> </td>
																				<td> <a href="../elements/id-c8745688ee184cc8b1badff85cf5ee40.html" target="element"> Consumer </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-0ae6f478253f495ca98ebabf96267064.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ae6f478253f495ca98ebabf96267064.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6d1a46dfe8314b2a8579bca389538084.html" target="element"> Semantic Model </a> </td>
																				<td> <a href="../elements/id-41204ee38177454baaf28d39efe29446.html" target="element"> Semantic Mapping </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b75cafdf2e164454b1b9a1fef9bc91e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b75cafdf2e164454b1b9a1fef9bc91e8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-67c60718c6e94906b636279ed43054ca.html" target="element"> AI Generated Query </a> </td>
																				<td> <a href="../elements/id-41204ee38177454baaf28d39efe29446.html" target="element"> Semantic Mapping </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>